	<section class="servicos">
		<? for($i=1; $i<=3; $i++){ ?>
		<? $img = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->{'foto'.$i}; ?>
		<? $bg  = 'style=background-image:url('.$img.')'; ?>
		<? $txt = $this->pagina->{'body'.($i==1 ? '' : $i)}; ?>
		<? $class = $i%2==0 ? 'servicos-r' : ''; ?>
		<div class="servico servico-<?=$i?> <?=$class?>">
			<span class="img" <?=$bg?>>
				<img src="<?=$img?>">
			</span>
			<span class="icone"></span>
			<div class="body"><?=$txt?></div>
		</div>
		<? } // for i<=3 ?>
	</section>