	<? $row = $this->obra; ?>

	<section class="obra">
		<div class="texto">
			<h1><?=$row->titulo?></h1>

			<div class="dados">
				<?=$row->local?> <br>
				<?=$row->ano?>
			</div>

			<div class="body">
				<?=$row->body?>
			</div>
		</div>

		<? $img = (bool)trim($row->capa_path) ? $row->capa_path : @$this->fotos[0]->path; ?>
		<? if($img){ ?>
		<? $img = IMG_URL.'/obras/'.$img; ?>
		<figure class="img">
			<img src="<?=$img?>" alt="<?=$row->titulo?>" class="foto-big">
		</figure>

		<? if(count($this->fotos)>1){ ?>
		<br clear="all">
		<div class="thumbs">
			<? foreach($this->fotos as $foto){ ?>
			<? $img = IMG_URL.'/obras/'.$foto->path; ?>
			<? $bg  = 'style=background-image:url('.$img.')'; ?>
			<a href="<?=$img?>" class="thumb foto" <?=$bg?>>
				<img src="<?=$img?>">
			</a>
			<? } // /foreach this->fotos ?>
		</div>
		<? } // /if count($this->fotos)>1 ?>

		<? } // /if $img ?>

		<br clear="all">
	</section>
	
	<? if((bool)$this->obras){ ?>
	<section class="mais-obras">
		<h3>Mais projetos</h3>

		<? foreach($this->obras as $obra){ ?>
		<? $img = IMG_URL.'/obras/'.($obra->capa_path ? $obra->capa_path : $obra->foto_path); ?>
		<? $bg  = 'style=background-image:url('.$img.')'; ?>
		<? $url = URL.'/obra/'.$obra->alias.'-'.$obra->id; ?>
		<a href="<?=$url?>" class="mais-obra" <?=$bg?> title="<?=$obra->titulo?>">
			<img src="<?=$img?>" alt="<?=$obra->titulo?>">
		</a>
		<? } // /foreach this->obras ?>
	</section>
	<? } // /if (bool)$this->obras ?>