<script type="text/javascript">
$(document).ready(function(){
    if($("#login").val() == ""){
        $("#login").prevalue("Usuário");
    }
    $("#senha").prevalue("Senha");
});
</script>

<? if($this->message){ ?>
<div class="message">
    <?=$this->message;?>
</div>
<? } ?>

<div class="form">    
    <?=$this->form;?>
    
    <span class="links-login">
        <a href="<?=$this->url?>esqueci-minha-senha/">esqueci minha senha &raquo;</a><br/>
        <!--<a href="<?=$this->url?>cadastro/">cadastrar &raquo;</a>-->
    </span>
</div>