    <? $img1 = null; $img2 = null; $img3 = null; ?>
    <? if((bool)trim($this->pagina->fotos_fixas->foto1)){ 
        $img1 = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1; } ?>
    <? if((bool)trim($this->pagina->fotos_fixas->foto2)){ 
        $img2 = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto2; } ?>
    <? if((bool)trim($this->pagina->fotos_fixas->foto3)){ 
        $img3 = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto3; } ?>
    
    <? if($img1||$img2){ ?>
    <div class="imgs">
        <? if($img1){ ?>
        <img src="<?=$img1?>">
        <? } ?>
        <? if($img2){ ?>
        <img src="<?=$img2?>">
        <? } ?>
    </div>
    <? } // /if $img1||$img2 ?>

    <div class="texto">
        <? if($img3){ ?>
        <img src="<?=$img3?>">
        <? } ?>
        
        <div class="body">
            <?=$this->pagina->body?>
        </div>
    </div>

    <br clear="all">








