<div class="contato">
    <span class="dados end">
        <a class="tel" href="tel:+55<?=Is_Cpf::clean($this->dados->tel1)?>"><?=$this->dados->tel1?></a>
        <br>
        <br>
        <?=$this->dados->endereco?> -
        <?=$this->dados->bairro?> <br>
        Cep: <?=Is_Format::cep($this->dados->cep)?> -
        <?=$this->dados->cidade?> -
        <?=$this->dados->estado?>
        <br class="mobile-cel">
        <br class="mobile-cel">
    </span>

    <form action="<?=URL?>/contato/enviar" class="contato" id="form-contato" method="post">
        <ul class="first">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" required placeholder="nome" />
            </li>
            <li class="li-email">
                <input type="email" name="email" id="email" class="txt required" required placeholder="e-mail" />
            </li>
            <li class="li-telefone half half-1">
                <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="telefone" />
            </li>
        </ul>
        <ul class="second">
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" class="txt required" required placeholder="mensagem"></textarea>
            </li>
        </ul>
        <ul class="last">
            <li class="submit-container">
                <p class="status"></p>
                <a href="#" class="submit" title="Enviar">Enviar</a>
                <input type="submit" class="hidden" value="Enviar">
            </li>
        </ul>
    </form>

    <br clear="all">
</div>

<?=$this->divfull('mapa')->open()?>
<? if(ENV_PRO||1){ ?>
<iframe id="mapa" src="https://maps.google.com/maps?q=<?=_parseEndereco($this->dados)?>&output=embed" width="50%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
<? } ?>
<?=$this->divfull()->close()?>