	<div class="clientes">
		<? foreach($this->rows as $row){ ?>
		<? $img = IMG_URL.'/clientes2/'.$row->foto_path; ?>
		<? $bg = 'style="background-image:url('.$img.')"'; ?>
		<span class="cliente" title="<?=$row->titulo?>" <?=$bg?>>
			<img src="<?=$img?>" alt="<?=$row->titulo?>">
		</span>
		<? } // /foreach this->rows ?>

		<br clear="all">
	</div>