<?=Js::load(JS_PATH.'/jwysiwyg/jquery.wysiwyg.js');?>
<?=Js::load(JS_PATH.'/admin/paginas.js');?>
<?=Css::load(JS_PATH.'/jwysiwyg/jquery.wysiwyg.css');?>
<?=Css::load(CSS_PATH.'/admin/paginas.css');?>

<script>
var MAX_FOTOS = <?=$this->MAX_FOTOS?>;

$(document).ready(function(){
    //$("#alias").val("/dsuihfuisdfds/fdsoifdsoi/");
    //$("#alias").getAlias("#nome");
    
    $('textarea.wysiwyg').wysiwyg({
        css:{fontFamily:'Arial,sans-serif',fontSize:'13px',margin:0,padding:0},
        visible:"bold,italic,underline,h3,separator00,insertUnorderedList,insertOrderedList,separator01,"+
                // "createLink<?=$this->allow_photos?",insertImage":""?>,separator02,undo,redo,separator03,removeFormat"
                "createLink,separator02,undo,redo,separator03,removeFormat"
    });
    $('div.wysiwyg,div.wysiwyg iframe').css('width','600px');
    
    $("#submit").click(function(e){
        if($.trim($("#body").val()).length == 0){
            e.preventDefault();
            Msg.add("Preencha todos os campos corretamente.","erro").show();
            return false;
        }
    });
});
</script>

<div class="content-right">
<? if($this->allow_files){ ?>
<div id="arquivos">
    <?=$this->render('paginas/arquivos.phtml');?>
</div>
<? } ?>

<? if($this->allow_photos){ ?>
<div id="fotos">
    <?=$this->render('paginas/fotos.phtml');?>
</div>
<? } ?>

<? if($this->allow_photos_fixas){ ?>
<div id="fotos_fixas">
    <?=$this->render('paginas/fotos-fixas.phtml');?>
</div>
<? } ?>
</div>

<form action="<?=$this->escape($this->form->getAction());?>" method="<?=$this->escape($this->form->getMethod());?>" class="frm-paginas">
    <? if(in_array($this->pagina->alias,array(
        'home',
        'contato',
        'servicos1',
    ))){ ?>
    <p class="descricao-home">
        Envie as imagens da Página ao lado. <br><br>
    </p>
    
    <? } else { ?>
    <ul>
        <? foreach($this->form->getElements() as $elm){ ?>
        <? if($elm->getId() == "submit"){ ?>
        
        <? } ?>
        
        <? if($elm->getId() == "body") if((bool)trim(@$this->pagina->{'body_titulo'})){ ?>
        <li><h3>&raquo; <?=$this->pagina->{'body_titulo'}?></h3></li>
        <? } ?>
        <? for($i=2; $i<5; $i++){ ?>
        <? if($elm->getId() == "body".$i) if((bool)trim(@$this->pagina->{'body'.$i.'_titulo'})){ ?>
        <li><h3>&raquo; <?=$this->pagina->{'body'.$i.'_titulo'}?></h3></li>
        <? } ?>
        <? } // /for i var ?>

        <li class="<?=$elm->getAttrib("class")?> <?=$elm->getId()=='descricao'?"bt-left":""?>">
            <? if($elm->getId() != "submit"){ ?>
            <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
            <? } ?>
            
            <?=$elm->render()?>
        </li>
        <br clear="all" />
        <? } ?>
    </ul>
    
    <input type="hidden" name="action" value="<?=$this->action?>" />
    <? } ?>
</form>

<? if($this->alias == 'home1'){ ?>
<div id="linhadotempo">
    <?=$this->render('paginas/linhadotempo.phtml');?>
</div>
<? } ?>