<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />
<?=Css::load(CSS_PATH."/admin/jquery.fileupload-ui.css");?>
<?=Css::load(CSS_PATH."/admin/paginas-fotos.less");?>

<?=Js::load(JS_PATH."/jquery.ui.min.js",
            JS_PATH."/admin/jquery.fileupload.js",
            JS_PATH."/admin/jquery.fileupload-ui.js",
            // JS_PATH."/admin/paginas-fotos.js"
            JS_PATH."/admin/fotos.js"
            );?>

<?=Css::load(CSS_PATH."/fancybox/jquery.fancybox-1.3.4.css");?>
<?=Js::load(JS_PATH."/jquery.fancybox-1.3.4.pack.js",JS_PATH."/Gallery.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<? switch($this->pagina->alias){ case 'home': ?>
<h3>&raquo; FOTOS BANNER</h3>
<? break; ?>
<? } ?>

<? $foto_has_link = (in_array($this->pagina->alias,array('home'))); ?>

<ul id="paginas_fotos" class="list_fotos paginas <?=$foto_has_link?'has-link':''?> order-rows">
    <? if(count($this->fotos)){ foreach($this->fotos as $foto){ ?>
    <li>
        <a href='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>' rel='gallery_group'>
            <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=90&h=90'>
        </a>

        <? if($foto_has_link){ ?>
        <input type="text"
               name="foto_link[]"
               class="txt foto_link"
               id="foto_link_<?=$foto->foto_id?>"
               value="<?=$foto->param?>"
               title="Tecle [ENTER] para salvar"
               data-id="<?=$foto->foto_id?>"
               data-name="param" />
        <? } ?>

        <button title="Delete" class="ui-state-default ui-corner-all file-delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <?/*<button title="Inserir esta imagem no texto" class="ui-state-default ui-corner-all file-insert">
            <span class="ui-icon ui-icon-arrowthick-1-w"></span>
        </button>*/?>
        <input type="hidden" name="foto_id[]" value="<?=$foto->foto_id?>" class="foto_id" data-id="<?=$foto->foto_id?>" data-name="id" />
        <input type="hidden" class="row-id" name="id[]" value="<?=$foto->foto_id?>" />
        <input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=@$foto->ordem?>" />
        <span class="foto_status"></span>
    </li>
    <? }} ?>
</ul>

<div id="file_upload_container">
    <form id="file_upload" action="<?=$this->url?>upload.json?id=<?=$this->id?>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <button>Enviar fotos<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></button>
        <div>Enviar fotos<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></div>
        <input type="hidden" name="pagina_id" id="pagina_id" value="<?=$this->id?>" />
    </form>
    
    <table id="file_upload_list" cellspacing="0" width="100%"></table>
</div>